*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10vh;
    margin-top: 5vh;
    margin-right: 10vh;
    height: 90vh;
}
.container .titulo h4{
    font-size: 22px;
    font-family: "Inconsolata", monospace;
}
.container .imagem img{
    width: 530px;
    height: 440px;
}
.container .principal{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}
.container .textos{
    height: 440px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}
.container .textos h2{
    font-size: 62px;
    font-family: "Space Mono", monospace;
    color: rgba(51, 51, 51, 1);
}
.container .textos p{
    font-size: 22px;
    font-family: "Space Mono",monospace;
    color: rgba(79, 79, 79, 1);
    margin-right: 30%;
}
.container .textos button{
    background-color: rgba(51, 51, 51, 1);
    color: white;
    font-family: "Space Mono", monospace;
    font-size: 14px;
    padding: 15px;
    border: none;
    width: 216px;
}
.container .textos button:hover{
    cursor: pointer;
    background-color: rgba(79, 79, 79, 1);
    transition: 2s;
}
.container .autor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100vh;
}
.container .autor h5{
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 650px){
    .container .principal{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .container .autor{
        display: flex;
        justify-content: unset;
        align-items: flex-start;
        flex: row;
        margin-top: 40px;
    }
}
@media screen and (max-width:1024px){
    .container .textos h2{
        font-size: 42px;
        font-family: "Space Mono", monospace;
        color: rgba(51, 51, 51, 1);        
    }
    .container .textos p{
        font-size: 18px;
        font-family: "Space Mono",monospace;
        color: rgba(79, 79, 79, 1);
        margin-right: 30%;       
    }
}